body {
    font-family: Raleway, Tahoma, Geneva, sans-serif;
}

/* Header stuff */
.ndio-header {
    position: fixed;
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    background-color:#FFAA86;
    z-index: 100;
}

.ndio-title {
    display: inline-block;
    color: white;
    position:relative;
    width: 50px;
    margin: 0;
    left: 6%;
    font-size: 30px;
}

.poll-create {
    position: relative;
    top: 15%;
    left: 74%;
}

.ndio-footer-buttons {
    display:flex;justify-content:center;align-items:center;
}

.ndio-hf-button {
    margin: 0;
    display: inline-block;
    padding: 10px 50px 15px 50px;
}


.ndio-hf-button:hover {
    background: #e39878;
}

.selected {
    background: #e39878;
}

/* Main container stuff */
.ndio-main {
    position: relative;
    top: 64px;
    padding-bottom: 65px;
}

.poll {
    position: relative;
    margin: 15px auto 15px;
    width: 90%;
    height: 200px;
    background-color:#EEC4C4;
    box-shadow: 2px 2px 8px #888888;
}

.poll-title {
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
}

.poll-options {
    margin-top: 40px;
    align-items: center;
    display: flex;
    justify-content: center;   
}

.poll-yes {
    margin-right: 25px;
}

.poll-no {
    margin-left: 25px;
}
.poll-footer {
    position: absolute;
    width: auto;
    height: 35px;
    top: 165px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #FFAA86;;
}
.poll-open-comments {
    position: relative;
    color: white;
    left: 10px;
    font-weight: 500;
}

.poll-comment-image {
    position: relative;
    top: 5px;
    margin-right: 3px;
}

.clickable {
    cursor: pointer;
}

/* Footer stuff */
.ndio-footer {
    position: fixed;
    width: 100%;
    height: 64px;
    left: 0px;
    bottom:0;
    background-color:#FFAA86;
}